<h2>Chores for the <%= @family.name %> Family</h2>
<div class="chore"><%= link_to "New Chore", new_chore_path(@family) %></div>

</div>
<% current_family.chores_by_due_date.each do |chore| %>
<div class="chore" data-id="<%= chore.id %>"><%= chore.name %></div>
<% end %>
<br><br>
<div id="chore-display">

</div>

<script type="text/javascript" charset="utf-8">

function getChore(button){
  $.get(`/chores/${$(button).data("id")}`, function(chore){
    choreObj = new Chore(chore)
  });
}
  $(function(){
    $(".chore").on('click', function(){
      getChore(this);
    })
    $("#chore-display").text("YO!")
  })
</script>
