<h2>Chores for the <%= @family.name %> Family</h2>
<div class="chore"><%= link_to "New Chore", new_chore_path(@family) %></div>

</div>
<% current_family.chores_by_due_date.each do |chore| %>
<div class="chore" data-id="<%= chore.id %>"><%= chore.name %></div>
<% end %>
<div id="chore-display">

</div>

<script id="chore-template" type="text/x-handlebars-template">
  <h2>{{ name }}</h2>
  <p>{{ notes }}</p>
  <p>This chore should be done every {{ formatFrequency }}.</p>
  <p> This chore should be completed
  {{#if last_completed }}
  by
    {{#if isOverdue }}
    <span class="overdue">{{ formatDueDate }}</span>.
    {{else}}
    {{ formatDueDate }}.
    {{/if}}
  {{else}}
  ASAP.
  {{/if}}
  </p>
  <button onclick="showTasks();">Show Tasks</button>
</script>

<script id="tasks-template" type="text/x-handlebars-template">
  <table>
    <tr>
      <th>Name</th>
      <th>Due Date</th>
      <th>Completion Date</th>
      <th>Status</th>
    </tr>
    {{#each task}}
    <tr>
      <td>{{ userName }}</td>
      <td>{{ dueDate }}</td>
      <td>{{ completionDate }}</td>
      <td>{{ completionStatus }}</td>
    </tr>
    {{/each}}
  </table>
</script>

<script type="text/javascript" charset="utf-8">

function getChore(button){
  $("#chore-display").empty();
  var choreTemplate = Handlebars.compile($("#chore-template").html());
  $.get(`/chores/${$(button).data("id")}`, function(chore){
    choreObj = new Chore(chore)
    result = choreTemplate(choreObj);
    $("#chore-display").html(result)
  });
}

function showTasks(){
  var tasksTemplate = Handlebars.compile($("#tasks-template").html());
  result = tasksTemplate(choreObj);
  console.log(result);
  $("#chore-display").append(result);
}
  $(function(){
    attachOnLoadListeners();
    $("#chore-display").text("YO!");
  });

  function attachOnLoadListeners(){
    $(".chore").on('click', function(){
      getChore(this);
    })
  }
  function attachTasksListener(){
    $("#tasks-button").on('click', function(){
      console.log("made it")
      showTasks();
    });
  }
</script>
