<h2>Chores for the <%= @family.name %> Family</h2>
<div class="chore"><%= link_to "New Chore", new_chore_path(@family) %></div>

</div>
<% current_family.chores_by_due_date.each do |chore| %>
<div class="chore"><%= link_to chore.name, chore_path(chore) %></div>
<% end %>

<div id="chore-display">

</div>

<script type="text/javascript" charset="utf-8">
  $(function(){
    $("#chore-display").text("YO!")
  })
</script>
