Welcome to ChoreCorps!
<br><br>
ChoreCorps families are on the move! Check out our <%= link_to "last completed task!", last_completed_task_path %>
<% if signed_in? %>
<h2>Click...</h2>
<strong>Me</strong> for a list of your chores, as well as a link to all of the chores you've completed.<br>
<strong>My Family</strong> to see this information for all of your family members.<br>
<strong>Our Chores</strong> to see all family chores and claim the ones you want.
<% else %>
Sign up or log in above!
<% end %>
