/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*:focus {
    outline: none;
}

body {
   background-image: url("doodles-0a6c1da9471403241b266fee433d6b2b916437f3c1f4379b249b59d4a66720c0.png");
   text-align: center;
   font-family: 'Antic Slab', serif;
   font-size: 140%;
 }

h1, h2 {
  font-family: 'Fredericka the Great', sans-serif;
  font-weight: 200;
}

h1 {
  letter-spacing: .3em;
  font-size: 275%;
  text-transform: uppercase;
  text-shadow: 2px 2px 15px #000;
}

a h1 {
  color: #000;
}

a {
  text-decoration: none;
  color: #B59E26;
}

a:hover {
  color: #523B91;
}

nav, main, footer {
  max-width: 80%;
  margin: auto;
  background: rgba(255, 255, 255, 0.8);
  background: linear-gradient(to right, rgba(255, 255, 255, .4), rgba(255, 255, 255, 1), rgba(255, 255, 255, .4));
  padding: 10px;
}

footer {
  padding: 25px 0;
  font-size: 65%;
}

.aside {
  font-size: 75%;
}

.chore {
  padding: 10px 10px;
  margin: 5px;
  display: inline-block;
  border: 2px solid #777;
  text-align: center;
  border-radius: 3px;
  box-shadow: 3px 3px 2px #aaa;
}
.overdue {
  color: maroon;
}

.claimed {
  color: #ddd;
}

.overdue.claimed {
  color: #7c4d4d;
}

button, input[type=submit] {
  font-size: 100%;
  font-family: 'Antic Slab', serif;
  background-color: #fff;
  /*border: solid #777;*/
  border-radius: 3px;
  box-shadow: 3px 3px 2px #aaa;
}

input[type=text], input[type=password], input[type=email], textarea {
    font-size: 100%;
    font-family: 'Antic Slab', serif;
    margin: 10px;
    border: none;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
  }

  textarea {
    resize: vertical;
  }

  select {
    font-size: 100%;
    font-family: 'Antic Slab', serif;
    background: #fff;
  }

  table {
    margin: auto;
    padding: 25px;
  }

  td {
    padding: 10px;
  }
