/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   background-image: url("doodles.png");
   text-align: center;
   font-family: 'Antic Slab', serif;
   font-size: 140%;
 }

h1, h2 {
  font-family: 'Coming Soon', cursive;
}

h1 {
  letter-spacing: .3em;
  /*font-size: 400%;*/
}

a h1 {
  color: #000;
}

a {
  text-decoration: none;
  color: #B59E26;
}

a:hover {
  color: #523B91;
}

nav, main {
  max-width: 80%;
  margin: auto;
  background: rgba(255, 255, 255, 0.8);
  background: linear-gradient(to right, rgba(255, 255, 255, .4), rgba(255, 255, 255, 1), rgba(255, 255, 255, .4));
}

.aside {
  font-size: 75%;
}
