<h2>Create a New Chore</h2>
<%= render 'form' %>

<script>

$(document).ready(function(){
    $('#chore_cycle').change(function () {
        var selectedItem = $(this).val();
        if (selectedItem === '') {
          $('<label for="chore_due_date">Due Date:</label> <input type="date" name="chore[due_date]" id="chore_due_date">').appendTo('#one-off-fields'); 
        }
    });
    $('#chore_cycle').change(function () {
        var selectedItem = $(this).val();
        if (selectedItem !== '') {
          console.log($('#one-off-fields').value)
            // if ($('#one-off-fields').childNodes) {
                $('#one-off-fields').empty(); 
            // }
        }
    });
});

</script>